.root {
    -fx-font-family: "Arial";
}

/* TOP BAR */
.top-bar {
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-padding: 10;
    -fx-background-radius: 10;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

/* BOTÓ JUGAR */
.btn-play {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 10;
    -fx-padding: 10 30;
}

.btn-play:hover {
    -fx-background-color: #27ae60;
}

/* BOTONS SECUNDARIS */
.btn-secondary {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
}

.btn-secondary:hover {
    -fx-background-color: #2980b9;
}

/* PANELS */
.panel {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-padding: 15;
    -fx-background-radius: 15;
}